<mat-accordion>
  <mat-expansion-panel *ngFor="let category of categories | keyvalue">
    <mat-expansion-panel-header>
      {{ category.key }}
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let theme of category.value">
        <mat-expansion-panel-header>
          {{ theme.title }}
        </mat-expansion-panel-header>
        <pre><code class="language-javascript">
        {{theme.quest}}
      </code></pre>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
